
.avatar img{
  max-width: 46px; border-radius: 50%; float: left;
}


.icon img{
  max-width: 60px; border-radius: 50%;
}

.yellow{
  color: yellow;
}

.pink{
  color: #ec6090;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
