* {
  font-family: "Taviraj", serif;
}

.na3 {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 100%;
}

.icon {
  margin-right: 10px;
}

body {
  background-color: white;
}

.cus-menu-style {
  margin-top: 1em;
  margin-bottom: 3em;
}

.cus-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333 !important;
  font-size: 1.15rem;
  margin: 0 1em;
  padding: 0 0.5em;
  letter-spacing: 0.03rem;
}

/* footer */

.cus-colord8 {
  background-color: #d84727;
}

.cus-alinecentter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cus-alinecentter80 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80%;
}

.cus-section-3 {
  margin-top: 3em;
}

.cus-section-2em {
  margin-top: 2em;
  margin-bottom: 2em;
}

.cus-color-write {
  color: #fff;
}

.cus-colorda {
  background-color: #da5e42;
}

.cus-img-100px {
  width: 100px;
  height: 100px;
}

/* detail */
.cus-bread a {
  text-decoration: none;
  color: #333;
}

.material {
  display: flex;
  margin-bottom: 20px;
}

.material div {
  margin-right: 10px;
}

.addcart {
  display: flex;
  align-items: center;
}

.add {
  margin: 0 15px;
  border-color: black;
  border-radius: 0;
}

.add1 {
  margin-left: 10px;
  padding: 16px 0;
  width: 250px;
  border-radius: 0;
}

.add2 {
  background-color: #da3915;
  color: white;
}

.name {
  font-size: 4rem;
}

.money {
  font-size: 20px;
  text-decoration: line-through rgb(208, 1, 1);
}

.money1 {
  font-size: 20px;
  font-weight: bolder;
}

.model {
  font-weight: bolder;
}

.number {
  font-size: 30px;
}

.cus-nav {
  margin-top: 60px;
}

.cus-nav .nav-link {
  border: 0;
  color: black;
  font-weight: 600;
}

.cus-nav .nav-link:hover {
  color: #d84727;
  border-bottom: 1px solid #d84727;
}

.cus-nav .nav-link.active {
  color: #d84727;
}

.img40 {
  display: block;
  margin: auto;
  max-width: 100%;
}

.detail {
  margin: 20px 0;
}

.detail-name {
  font-size: 24px;
  line-height: 35px;
}

.detail-desc {
  line-height: 30px;
}

.border {
  border: 1px solid #333;
  position: relative;
  height: 100%;
}

.relate-tittle {
  font-size: 34px;
}

.relate-name {
  font-size: 24px;
}

.relate-price1 {
  font-size: 20px;
}

.relate-price {
  text-decoration: line-through #d84727;
}

.sale {
  position: absolute;
  background: #d84727;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 15px;
  top: -16px;
  right: 16px;
}

.new {
  position: absolute;
  background: #2c7700;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 15px;
  top: -16px;
  right: 16px;
}

.clock {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-content {
  padding-left: 16px;
}

.relate-tittle {
  margin-bottom: 40px;
}

.posi {
  position: relative;
}

.posi span {

  cursor: pointer;
  text-align: center;
  background-color: #ffd0c6;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  right: 0px;
}

.bgr {
  display: flex;
  background-color: #dbbea7;
}

.obj {
  display: block;
  margin: auto;
  object-fit: contain;
}

.modal-rp {
  text-decoration: line-through #da3915;
}

.modan-dislay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.modal-dislay1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delete {
  border: #da3915 solid 2px;
  color: #da3915;
}

.border1{
  display: flex;
  justify-content: center;
  border-top: solid 2px rgb(155, 155, 155) ;
  border-bottom: solid 2px rgb(155, 155, 155) ;
}

.border2{
  display: flex;
  justify-content: center;
}

.dislay11{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dislay12{
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.rp-1{
  text-decoration: line-through #da3915;
}

/* .openoff{
  display: none;
} */

@media only screen and (max-width: 575px) {
  .flex {
    flex-direction: row;
  }
}
