.App {
  text-align: center;
}

.App a {
  text-decoration: none;
  color: #fff;
  padding: 0 25px;
}

.App li {
  list-style: none;
  padding: 20px 0;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2;
  grid-gap: 20px ;
}

.flex a{
  padding: 20px 0;
  background-color: bisque;
  display: flex;
  justify-content: center;
}

.flex img{
  width: 100px;
}

.flex div{
  width: 200px;
  margin: 0 30px;
}

.center{
  text-align: center;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 3;
}

.pagination{
  list-style: none;
  display: flex;
}

.page-link{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #282c34;
  padding: 0 10px;
  margin: 0 10px;
}

.page-link:hover{
  background-color: #1c7a94;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
