.App {
  text-align: center;
}

.App a {
  text-decoration: none;
  color: #fff;
  padding: 0 25px;
}

.App li {
  list-style: none;
  padding: 20px 0;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex{
  display: flex;
}

.scroll{
  overflow-y: scroll;
  height: 500px;
  width: 400px;
  margin: 50px auto;
}

.scroll img{
  width: 100%;
}

.center{
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
