/* header + menu navba */


body {
  background-color: rgb(243, 243, 243) !important;
  font-weight: 600 !important;
}

.logo {
  max-height: 50px;
}

.bg-color {
  background-color: black;
}

.ctn-color {
  background-color: black;
}

.ft-color {
  background-color: #fff;
}

.ctn-color1 {
  background-color: #fff;
  color: #505050;
}

.d-flex .form-control {
  border-radius: 0;
  font-size: 0.97rem;
}

.d-flex .btn {
  border-radius: 0;
  background-color: #d70909;
  color: white;
}

.d-flex .btn:hover {
  color: white;
  background-color: #af0303;
  border-color: #d70909;
}

.container-md .navbar {
  padding: 0;
}

.icon-cart {
  font-size: 1.5rem;
}

.cus-iconCart {
  display: flex !important;
  align-items: center;
}

.collapse .d-flex {
  margin-left: 10rem;
  width: 50%;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.navbar-nav {
  width: 20%;
  justify-content: end;
}


.form-control:focus {
  color: black !important;
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.nav-item {
  margin: 0 1rem;
}

.navbar-nav .nav-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0;
}

.tong span:last-child {
  color: #fd3b52;
}

.nav-item a {
  color: black;
}

.nav-item a:hover {
  color: rgb(52, 191, 255);
}

.tet{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  z-index: 1000;
  left: -180%;
  width: 350px;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  position: absolute;
  transition: 0.2s linear;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 353px;
  border-radius: 5px;
}

.nav-item{
  position: relative;
}

.nav-link{
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link:hover,
.infos:hover{
  color: rgb(52, 191, 255) !important;
}

.nav-item:hover .tet{
  visibility: visible;
  opacity: 1;
}

.tet button:nth-child(7){
  color: white !important;
  background-color: #425E81 !important;
}

.tet button:nth-child(7):hover{
  background-color: #2b496e !important;
}

.tet button:nth-child(8){
  color: white !important;
  background-color: #d70909 !important;
}

.tet button:nth-child(8):hover{
  background-color: #af0303 !important;
}


.tet1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tet1 button:nth-child(7){
  color: white !important;
  background-color: #425E81 !important;
}

.tet1 button:nth-child(7):hover{
  background-color: #2b496e !important;
}

.tet1 button:nth-child(8){
  color: white !important;
  background-color: #d70909 !important;
}

.tet1 button:nth-child(8):hover{
  background-color: #af0303 !important;
}

.tet-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tet-flex .scan:hover{
  color: #aeaeae;
}

.flex-child span:not(:last-child){
  color: #aeaeae;
}

.flex-child span:last-child{
  color: #fd3b52;
}

/* carousel */

.carousel-caption {
  color: black !important;
}

.caption {
  background-color: #fff;
  text-align: center;
  padding: 15px 10px;
}

.caption:hover{
  color: rgb(52, 191, 255);
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.title span:first-child,
.color-red{
  color: #fd3b52;
}


.text-deco{
  text-decoration: none;
  color: black;
}

.text-deco:hover{
  color: rgb(52, 191, 255);
}

.text-deco1{
  display: block;
  color: white;
  text-decoration: none;
}

.text-deco1:hover{
  color: white !important;
}

.main-title {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.main-title .row {
  align-items: center;
}

.box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-test {
  background-color: #fff;
  padding: 10px;
}

.title span {
  padding-bottom: 10px;
}

.img-carousel {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.belt-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.belt-title span {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.belt-title span:last-child{
  cursor: pointer;
  font-size: 14px;
}

.belt-title span:last-child:hover{
  color: rgb(52, 191, 255) ;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  overflow: hidden;
}

.image-item .img img {
  transition: 0.38s linear;
}

.image-item:hover .img img{
  transform: scale(1.05);
}

.top-item img {
  max-width: 50%;
}

.top-item .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-logo .slick-track {
  display: flex !important;
  align-items: center;
}


/* .image-item:nth-child(even),
.banner-item:nth-child(even) {
  border-right: solid 0.5px #151515;
}

.image-item:nth-child(odd),
.banner-item:nth-child(odd) {
  border-right: solid 0.5px #151515;
} */

.image-item{
  transition: 0.38s linear;
}

.image-item:hover .img{
  border-left: solid 2px #d2d2d273;
  border-right: solid 2px #d2d2d273;
}

.title-price {
  background-color: #fff;
  padding: 20px;
  color: black;
}

.title-price p {
  margin: 0;
}

.slick-prev {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 0;
  transition: 0.38s linear;
  background-color: #181a1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  z-index: 2;
}

.slick-prev:hover {
  background-color: white;
}

.slick-prev:hover .test {
  color: #151515;
}

.slick-next {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 0;
  transition: 0.38s linear;
  background-color: #181a1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  z-index: 2;
}

.slick-next:hover {
  background-color: white;
}

.slick-list{
  background-color: white;
}

.slick-next:hover .test {
  color: #151515;
}

.test {
  font-size: 1.3rem;
}

.image-slider:hover .slick-next,
.carousel-slider:hover .slick-next,
.banner-slider:hover .slick-next {
  visibility: visible;
  transform: translateX(0.9rem);
  opacity: 1;
}

.image-slider:hover .slick-prev,
.carousel-slider:hover .slick-prev,
.banner-slider:hover .slick-prev {
  visibility: visible;
  transform: translateX(-0.9rem);
  opacity: 1;
}

.banner-slider:hover .slick-next {
  transform: translateX(0.3rem);
}

.top-title {
  color: #505050;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 15px 0;
}

.top-logo {
  background-color: #fff;
}

.banner {
  padding-right: 0 !important;
}

.banner-slider {
  padding-left: 0 !important;
}

.banner-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-footer {
  display: block;
}

.paymen-if {
  margin-left: 2.5rem;
}

.paymen {
  margin-bottom: 16px;
}

.footer-time {
  display: flex;
  margin-bottom: 10px;
}

.footer-time div:last-child {
  margin-left: 2.5rem;
}

.paymen-img {
  width: 35%;
}

.cn-img {
  width: 100%;
}

.time1 p:first-child,
.time2 p:first-child {
  margin-bottom: 1px;
}

.footer {
  padding-bottom: 10px;
  align-items: flex-end;
  font-weight: 500;
}

.footer .col-lg-3 p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.title-design {
  text-align: center;
  padding: 12px 0;
}

.title-design span:first-child {
  color: #858585;
}


.offcanvas-start,
.offcanvas-end {
  background-color: #fff !important;
  width: 260px !important;
}

.nav-canvas {
  padding: 0;
  border-top: 0.5px solid #636363;
  border-bottom: 0.5px solid #636363;
}

.nav hr{
    width: 100%;
    margin: 0;
    height: 0.5px !important;
    color: #636363 !important;
}

.borderNav{
  border-top: solid 1px #6363634a ;
  border-bottom: solid 1px #6363634a ;
}

.offcanvas-header .icon{
    font-size: 25px;
    animation : test 1.5s reverse infinite;
}

.icon-btn{
    font-size: 20px;
    color: white;
}

@keyframes test {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.item{
  padding: 10px 20px;
  margin: 0 10px;
}


.item:hover {
  color: rgb(52, 191, 255);
  cursor: pointer;
}

.formbox {
  position: relative;
  background-color: #fff;
  align-items: center;
}

.search {
  cursor: pointer;
  color: #d70909;
  padding: 0 12px;
}

.allProduct,
.allProduct1{
  position: absolute;
  top: 100%;
  max-height: 450px;
  width: 100%;
  z-index: 1000;
  background-color: rgb(223, 223, 223);
  transition: 0.25s ease-in;
  visibility: hidden;
  opacity: 0;
  padding: 8px;
  overflow: hidden;
  overflow-y: scroll;
}

.form-control:focus + .allProduct {
  visibility: visible;
  opacity: 1;
}

.form-control:focus + .allProduct1 {
  visibility: visible;
  opacity: 1;
}


.form-control:focus {
  border: 0 !important;
  color: black !important;
  box-shadow: none !important;
}

.form-control {
  border: 0 !important;
}

.infoProduct:hover {
  cursor: pointer;
  transition: 0.2s linear;
  color: rgb(52, 191, 255);
  border-radius: 5px;
  background-color: #515151;
}

.productinfo span {
  color: #fd3b52;
}

.productinfo p {
  margin: 0;
}

.slideUp {
  animation:slideUp 0.9s;
}

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  } 
  100% {
    transform: translateY(0%);
  }
}


.gototop{
  visibility: hidden;
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  z-index: 1000;
}

.gototop a{
  display: flex;
  color: white;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0000007b;
}

.gototop a:hover{
  color: #fff;
  background-color: #000000;
}

.badge {
  cursor: pointer;
  left: 96% !important;
  top: 20%;
}

.item a{
  text-decoration: none;
  color: #000000;
}

.slick-slide{
  cursor: pointer;
}

.btnaddtocard,
.btnSeeCard{
  font-weight: 700 !important;
  background-color: #425E81 !important;
  color: #fff !important;
}

.btnaddtocard:hover,
.btnSeeCard:hover{
  background-color: #2b496e !important;
}

.btnPayCard{
  font-weight: 700 !important;
  background-color: #d70909  !important;
  color: #fff !important;
}

.btnPayCard:hover{
  background-color: #af0303  !important;
}

.tet hr,
.tet1 hr{
  width: 100%;
  margin: 8px 0;
}

hr {
  color: #afafaf !important;
  border: solid 0.5px !important;
}

.deletes:hover,
.delete:hover{
  cursor: pointer;
}

.infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .collapse .d-flex {
    margin-left: 2.5rem
  }
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    width: 100%;
  }
  .collapse .d-flex {
    margin-left: 0;
    width: 100%;
  }
  .banner-slider{
    padding-left: 12px !important;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }
}