/* header + menu navba */
body {
  background-color: rgb(243, 243, 243) !important;
  font-weight: 600 !important;
}

.btnaddtocard,
.btnSeeCard{
  font-weight: 700 !important;
  background-color: #425E81 !important;
  color: #fff !important;
}

.btnaddtocard:hover,
.btnSeeCard:hover{
  background-color: #2b496e !important;
}

.btnPayCard{
  font-weight: 700 !important;
  background-color: #d70909  !important;
  color: #fff !important;
}

.btnPayCard:hover{
  background-color: #af0303  !important;
}

.logo {
  max-height: 50px;
}

.bg-color {
  background-color: black;
}

.ctn-color {
  background-color: black;
}

.ft-color {
  background-color: #fff;
}

.ctn-color1 {
  background-color: #fff;
}

.d-flex .form-control {
  /* background-color: transparent; */
  border-radius: 0;
  font-size: 0.97rem;
}

.d-flex .btn {
  border-radius: 0;
  background-color: #d70909;
  color: white;
}

.d-flex .btn:hover {
  color: white;
  background-color: #af0303;
  border-color: #d70909;
}

.container-md .navbar {
  padding: 0;
}

.icon-cart {
  font-size: 1.5rem;
}

.cus-iconCart {
  display: flex !important;
  align-items: center;
}

.collapse .d-flex {
  margin-left: 10rem;
  width: 50%;
}

@media only screen and (max-width: 991px) {
  .collapse .d-flex {
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.navbar-nav {
  width: 20%;
  justify-content: end;
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    width: 100%;
  }
}

.form-control:focus {
  color: black !important;
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.nav-item {
  margin: 0 1rem;
}

.navbar-nav .nav-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0;
}

.tet{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  z-index: 1000;
  left: -180%;
  width: 350px;
  /* opacity: 0;
  visibility: hidden; */
  background-color: #fff;
  position: absolute;
  transition: 0.2s linear;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 353px;
  border-radius: 5px;
}

.tet hr{
  width: 100%;
  margin: 8px 0;
}

hr {
  color: #afafaf !important;
  border: solid 0.5px !important;
}

.nav-item{
  position: relative;
}


.tong span:last-child {
  color: #fd3b52;
}

.nav-item:hover .tet{
  visibility: visible;
  opacity: 1;
}

.tet button:nth-child(7){
  color: white !important;
  background-color: #425E81 !important;
}

.tet button:nth-child(7):hover{
  background-color: #2b496e !important;
}

.tet button:nth-child(8){
  color: white !important;
  background-color: #d70909 !important;
}

.tet button:nth-child(8):hover{
  background-color: #af0303 !important;
}

.tet1 button:nth-child(7){
  color: white !important;
  background-color: #425E81 !important;
}

.tet1 button:nth-child(7):hover{
  background-color: #2b496e !important;
}

.tet1 button:nth-child(8){
  color: white !important;
  background-color: #d70909 !important;
}

.tet1 button:nth-child(8):hover{
  background-color: #af0303 !important;
}

.tet-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tet-flex .scan:hover{
  color: #aeaeae;
}

.flex-child span:not(:last-child){
  color: #aeaeae;
}

.flex-child span:last-child{
  color: #fd3b52;
}

.text-deco{
  text-decoration: none;
  color: white;
}

.text-deco:hover{
  color: rgb(52, 191, 255);
}

.text-deco1{
  display: block;
  color: white;
  text-decoration: none;
}

.text-deco1:hover{
  color: white !important;
}

.color-red{
  color: #fd3b52;
}

.badge{
  top: 20% !important;
  left: 96% !important;
}

.color-prd span:nth-child(2){
  width: 70px;
}
/* footer */
.logo-footer {
  display: block;
}

.paymen-if {
  margin-left: 2.5rem;
}

.paymen {
  margin-bottom: 16px;
}

.footer-time {
  display: flex;
  margin-bottom: 10px;
}

.footer-time div:last-child {
  margin-left: 2.5rem;
}

.paymen-img {
  width: 35%;
}

.cn-img {
  width: 100%;
}

.time1 p:first-child,
.time2 p:first-child {
  margin-bottom: 1px;
}

.footer {
  padding-bottom: 10px;
  align-items: flex-end;
  color: black;
  font-weight: 500;
}

.footer .col-lg-3 p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.title-design {
  text-align: center;
  padding: 12px 0;
}

.title-design span:first-child {
  color: #858585;
}


/* main */

.slick-prev {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 0;
  transition: 0.35s linear;
  background-color: #181a1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  z-index: 2;
}

.slick-prev:hover {
  background-color: white;
}

.slick-prev:hover .test {
  color: #151515;
}

.slick-next {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 0;
  transition: 0.35s linear;
  background-color: #181a1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  z-index: 2;
}

.slick-next:hover {
  background-color: white;
}

.slick-next:hover .test {
  color: #151515;
}

.test {
  font-size: 1.3rem;
}

.product-for:hover .slick-next {
  visibility: visible;
  transform: translateX(0.9rem);
  opacity: 1;
}

.product-for:hover .slick-prev {
  visibility: visible;
  transform: translateX(-0.9rem);
  opacity: 1;
}

.slick-slide,
.badge{
  cursor: pointer;
}

.product-nav .slick-list .slick-slide {
  margin: 0 10px ;
}

.product-nav .slick-list{
  margin: 0 -10px ;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-for {
  margin-bottom: 20px;
}

.product-nav1 {
  transition: 0.3s linear;
  opacity: 0.5;
}

.product-nav1:focus {
  opacity: 1;
}

.breadcrumb li:not(:last-child) {
  text-decoration: 0;
  color: #aeaeae;
}

.breadcrumb li:not(:last-child):hover {
  cursor: pointer;
  color: black;
}

.info-prd {
  font-weight: 600;
}

.info-prd p:first-child {
  font-size: 30px;
}

.info-prd p:nth-child(2) {
  font-size: 28px;
  color: #fd3b52;
}

.info-prd ul {
  padding-left: 1.3em;
  line-height: 44px;
  font-size: 18px;
}

.color-prd {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.product-color {
  transform: translateX(57px);
  font-size: 45px;
}

.updow-prd {
  display: flex;
  align-items: center;
}

.updow {
  display: flex;
  color: white;
  height: fit-content;
}

.updow button:first-child {
  border-radius: 50px 0 0 50px;
  /* color: white; */
}

.updow button:nth-child(3) {
  border-radius: 0 50px 50px 0;
  /* color: white; */
}

.updow input {
  max-width: 2.5rem;
  color: white;
  font-size: 18px;
  background-color: #151515;
  border: 0;
  outline: 0;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.more {
  flex: 1;
  margin-left: 50px;
}

.more button {
  font-weight: 600;
  background-color: #d70909;
  border-radius: 50px;
  color: white;
  padding: 15px 0;
}

.more button:hover {
  background-color: #af0303;
  color: white;
}


tbody {
  line-height: 2.3em;
  font-size: 15px;
  font-weight: 600;
}

tr {
  border-bottom: 0.5px solid #cfcfcf !important;
}

.last {
  padding-left: 1em;
}

.last ul {
  padding-left: 1.3em;
  margin-top: 1em;
}

.img-center {
  display: flex;
  justify-content: center;
}

.img-center img {
  width: 80%;
}

.image-slider{
  background-color: #fff;
}


.image-slider:hover .slick-next {
  visibility: visible;
  transform: translateX(0.9rem);
  opacity: 1;
}

.image-slider:hover .slick-prev {
  visibility: visible;
  transform: translateX(-0.9rem);
  opacity: 1;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  overflow: hidden;
}

.image-item .img img {
  transition: 0.3s linear;
}

.image-item:hover .img img {
  transform: scale(1.05);
}

.image-item:hover .img{
  border-left: solid 2px #d2d2d273;
  border-right: solid 2px #d2d2d273;
}

.image-item {
  transition: 0.2s linear;
}

.title-price {
  background-color: #fff;
  padding: 20px;
  color: black;
}

.title-price p {
  margin: 0;
}

.belt-title {
  font-weight: bold;
}

.size {
  font-size: 19px;
}

.size-sm {
  font-size: 16px;
  line-height: 27px;
}

.offcanvas-start,
.offcanvas-end {
  background-color: #fff !important;
  width: 260px !important;
}

.nav-canvas {
  padding: 0;
  border-top: 0.5px solid #636363;
  border-bottom: 0.5px solid #636363;
}

.nav-canvas .nav-item {
  margin: 0;
  list-style: none;
  transition: 0.2s linear;
}

.nav-canvas .nav-item:hover {
  background-color: #636363;
}

.nav hr{
  width: 100%;
  margin: 0;
  height: 0.5px !important;
  color: #636363 !important;
}

.offcanvas-header .icon {
  font-size: 25px;
  animation: test 1.5s reverse infinite;
}

.icon-btn {
  font-size: 20px;
  color: white;
}

@keyframes test {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* --------------------------------------------- */

.products-detai-content {
  position: relative;
  height: 400px;
  overflow: hidden;
  padding-bottom: 2px;
}

.see-more {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  background-color: rgb(243, 243, 243);
  width: 100%;
  color: #af0303;
  cursor: pointer;
  text-align: center;
}

.see-more-bler::after {
  padding-right: 12px;
  width: 100%;
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  height: 85px;
  content: -webkit-gradient(
    linear,
    0% 100%,
    0% 0%,
    from(rgb(243, 243, 243)),
    color-stop(0.2, rgb(243, 243, 243)),
    to(rgba(255, 255, 255, 0))
  );
}

.active {
  height: auto;
}


.breadcrumb-item a {
  text-decoration: 0;
  color: #aeaeae;
}

.breadcrumb-item a:hover {
  color: black;
}


.slideUp {
  animation:slideUp 0.9s;
}

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  } 
  100% {
    transform: translateY(0%);
  }
}


.item{
  padding: 10px 20px;
  margin: 0 10px;
}

.item:hover {
  color: rgb(52, 191, 255);
  cursor: pointer;
}

.formbox {
  position: relative;
  background-color: #fff;
  align-items: center;
}

.search {
  cursor: pointer;
  color: #d70909;
  padding: 0 12px;
}

.form-check-input{
  cursor: pointer;
}

.allProduct,
.allProduct1{
  position: absolute;
  top: 100%;
  max-height: 450px;
  width: 100%;
  z-index: 1000;
  background-color: rgb(223, 223, 223);
  transition: 0.25s ease-in;
  visibility: hidden;
  opacity: 0;
  padding: 8px;
  overflow: hidden;
  overflow-y: scroll;
}

.form-control:focus + .allProduct {
  visibility: visible;
  opacity: 1;
}

.form-control:focus + .allProduct1 {
  visibility: visible;
  opacity: 1;
}


.form-control:focus {
  border: 0 !important;
  color: black !important;
  box-shadow: none !important;
}

.form-control {
  border: 0 !important;
}

.infoProduct:hover {
  cursor: pointer;
  transition: 0.2s linear;
  color: rgb(52, 191, 255);
  border-radius: 5px;
  background-color: #515151;
}

.productinfo span {
  color: #fd3b52;
}

.productinfo p {
  margin: 0;
}

.gototop{
  visibility: hidden;
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  z-index: 1000;
}

.gototop a{
  display: flex;
  color: white;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0000007b;
}

.gototop a:hover{
  color: #fff;
  background-color: #000000;
}

.item a{
  text-decoration: none;
  color: #000000;
}

.nav-link:hover {
  color: rgb(52, 191, 255) !important;
}

.fontStyle{
  font-family: 'Combo', cursive;
  margin: 0;
}

.deletes:hover,
.delete:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .collapse .d-flex {
    margin-left: 2.5rem
  }
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }
}

