/* header + menu navba */
body {
  background-color: rgb(243, 243, 243) !important;
  font-weight: 600 !important;
}

.logo {
  max-height: 50px;
}

.bg-color {
  background-color: black;
}

.ctn-color {
  background-color: black;
}

.ft-color {
  background-color: #fff;
}

.ctn-color1 {
  background-color: #fff;
}

.d-flex .form-control {
  /* background-color: transparent; */
  border-radius: 0;
  font-size: 0.97rem;
}

.d-flex .btn {
  border-radius: 0;
  background-color: #d70909;
  color: white;
}

.d-flex .btn:hover {
  color: white;
  background-color: #af0303;
  border-color: #d70909;
}

.container-md .navbar {
  padding: 0;
}

.icon-cart {
  font-size: 1.5rem;
}

.icon-cart1 {
  font-size: 1rem;
}

.cus-iconCart {
  display: flex !important;
  align-items: center;
}

.collapse .d-flex {
  margin-left: 10rem;
  width: 50%;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.navbar-nav {
  width: 25%;
  justify-content: space-between;
}

.form-control:focus {
  color: black !important;
  box-shadow: none !important;
}

.form-control {
  border: 0 !important;
}

.btn:focus {
  box-shadow: none !important;
}

.navbar-nav .nav-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0;
}

.item{
  padding: 10px 20px;
  margin: 0 10px;
}


.item:hover {
  color: rgb(52, 191, 255);
  cursor: pointer;
}


.text-deco1 {
  display: block;
  color: white;
  text-decoration: none;
}

.text-deco1:hover {
  color: white !important;
}

.color-red {
  color: #fd3b52;
}

.focus {
  background-color: #858585;
}
/* footer */
.logo-footer {
  display: block;
}

.paymen-if {
  margin-left: 2.5rem;
}

.paymen {
  margin-bottom: 16px;
}

.footer-time {
  display: flex;
  margin-bottom: 10px;
}

.footer-time div:last-child {
  margin-left: 2.5rem;
}

.paymen-img {
  width: 35%;
}

.cn-img {
  width: 100%;
}

.time1 p:first-child,
.time2 p:first-child {
  margin-bottom: 1px;
}

.footer {
  padding-bottom: 10px;
  align-items: flex-end;
  /* color: white; */
  font-weight: 500;
}

.footer .col-lg-3 p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.title-design {
  text-align: center;
  padding: 12px 0;
}

.title-design span:first-child {
  color: #858585;
}

/* main */

.nav-link{
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link:hover,
.infos:hover,
.infos:hover a{
  color: rgb(52, 191, 255) !important;
}

.infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.breadcrumb-item a {
  text-decoration: 0;
  color: #aeaeae;
}

.breadcrumb-item a:hover {
  color: black;
}

.nav-col {
  padding: 0;
}

.nav-col .nav-item {
  margin: 0;
  list-style: none;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.2s linear;
}


.form-check-input:checked + label {
  color: #0d6efd;
}

.form-check {
  margin-bottom: 0.85rem !important;
}

.form-check-input {
  margin-right: 15px;
}

.box-pk {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
}

.box-pk .row:hover {
  cursor: pointer;
  transition: 0.2s linear;
  color: rgb(52, 191, 255);
  border-radius: 5px;
  background-color: #636363;
}

.pk-portfolio p {
  margin: 0;
}

.pk-portfolio span {
  color: #fd3b52;
}

hr:not([size]) {
  height: 0.5px !important;
}

.tt {
  background-color: #181a1b;
}

.porfolio-title {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
}

.porfolio-title p {
  margin: 0;
}

.porfolio-title span {
  color: #fd3b52;
}

.por-pro .row .por-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}

.pagination li {
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #425e81 !important;
  color: #fff !important;
}

.page-link {
  padding: 0.4rem 0.881rem !important;
  border-radius: 50px !important;
  border: 2px solid #858585 !important;
  background-color: transparent !important;
  color: black !important;
}

.page-link:hover {
  background-color: #425e81 !important;
  color: #fff !important;
}

.navbar-nav {
  width: 20%;
  justify-content: end;
}

.offcanvas-start,
.offcanvas-end {
  background-color: #fff !important;
  width: 270px !important;
}

.offcanvas-bottom {
  background-color: #181a1bf5 !important;
}

.nav-canvas {
  padding: 0;
  border-top: 0.5px solid #636363;
  border-bottom: 0.5px solid #636363;
}

.nav-canvas .nav-item {
  margin: 0;
  list-style: none;
  transition: 0.2s linear;
}

.nav-canvas .nav-item:hover {
  background-color: #636363;
}

.nav hr{
  width: 100%;
  margin: 0;
  height: 0.5px !important;
  color: #636363 !important;
}

.offcanvas-header .icon {
  font-size: 25px;
  animation: test 1.5s reverse infinite;
}

.icon-btn {
  font-size: 20px;
  color: white;
}

@keyframes test {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-item {
  position: relative;
}


.tet{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  z-index: 1000;
  left: -180%;
  width: 350px;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  position: absolute;
  transition: 0.2s linear;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 353px;
  border-radius: 5px;
}

.tet button:nth-child(7) {
  color: white !important;
  background-color: #425e81 !important;
}

.tet button:nth-child(7):hover {
  background-color: #2b496e !important;
}

.tet button:nth-child(8) {
  color: white !important;
  background-color: #d70909 !important;
}

.tet button:nth-child(8):hover {
  background-color: #af0303 !important;
}

.tet1{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tet1 button:nth-child(7) {
  color: white !important;
  background-color: #425e81 !important;
}

.tet1 button:nth-child(7):hover {
  background-color: #2b496e !important;
}

.tet1 button:nth-child(8) {
  color: white !important;
  background-color: #d70909 !important;
}

.tet1 button:nth-child(8):hover {
  background-color: #af0303 !important;
}

.nav-item:hover .tet {
  visibility: visible;
  opacity: 1;
}

.tet-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tet-flex .scan:hover {
  color: #aeaeae;
}

.flex-child span:not(:last-child) {
  color: #aeaeae;
}

.flex-child span:last-child {
  color: #fd3b52;
}

.tong span:last-child {
  color: #fd3b52;
}

.allProduct,
.allProduct1{
  position: absolute;
  top: 100%;
  max-height: 450px;
  width: 100%;
  z-index: 1000;
  background-color: rgb(223, 223, 223);
  transition: 0.25s ease-in;
  visibility: hidden;
  opacity: 0;
  padding: 8px;
  overflow: hidden;
  overflow-y: scroll;
}

.form-control:focus + .allProduct {
  visibility: visible;
  opacity: 1;
}

.form-control:focus + .allProduct1 {
  visibility: visible;
  opacity: 1;
}


.formbox {
  position: relative;
}
.productinfo p {
  margin: 0;
}

.productinfo span {
  color: #fd3b52;
}

.infoProduct:hover {
  cursor: pointer;
  transition: 0.2s linear;
  color: rgb(52, 191, 255);
  border-radius: 5px;
  background-color: #515151;
}

.search {
  cursor: pointer;
  color: #d70909;
  padding: 0 12px;
}

.formbox {
  background-color: #fff;
  align-items: center;
}

.filterProduct {
  cursor: pointer;
}

.filterProduct:hover {
  background-color: #636363;
  color: rgb(52, 191, 255);
}

.fiterFocus {
  color: rgb(52, 191, 255);
}

.pdfilter {
  padding: 0.5rem 1rem;
}

.form-check {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 0.5rem 1rem;
}

.form-check:hover {
  cursor: pointer;
  background-color: #515151;
  color: rgb(52, 191, 255);
  transition: 0.2s linear;
}

#accordion > .cap {
  background: #263a53;
  padding: 8px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}
#accordion > .ct > label {
  padding: 5px 30px;
  margin: 5px 0;
  font-size: 18px;
  display: block;
  cursor: pointer;
}


.changeColor{
  position: relative;
  color: #212529;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
}

.changeColor::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #6a7d9479;
  transform: translateX(-101%);
  z-index: -1;
  transition: 0.65s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.changeColor:hover{
  color: #fff;
}

.changeColor:hover.changeColor::before{
  transform: translateX(0);
}

#accordion > .ct input {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.thuonghieu:checked+.changeColor{
  background-color: #6a7d94;
  color: #fff;
}

.thuonghieu{
  display: none;
}

.porfolio-img{
  background-color: #464646;
}

.porfolio-title{
  transition: 0.18s linear;
}


.por-box:hover .porfolio-img img{
  opacity: 0.4;
  transform: scale(1.05);
}

.por-box:hover .porfolio-title {
  color: rgb(52, 191, 255);
}

.por-box:hover .por-flex{
  box-shadow: 0px 0px 8px 1px rgb(111 111 111);
}

.por-box:hover .position{
  transform: translateY(15%);
}

img{
  transition: 0.3s linear;
}

.h-white{
  background-color: #fff;
}

.slideUp {
  animation:slideUp 0.9s;
}

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  } 
  100% {
    transform: translateY(0%);
  }
}


.badge {
  cursor: pointer;
  left: 96% !important;
}

.gototop{
  visibility: hidden;
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  z-index: 1000;
}

.gototop a{
  display: flex;
  color: white;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0000007b;
}

.gototop a:hover{
  color: #fff;
  background-color: #000000;
}

.item a{
  text-decoration: none;
  color: #000000;
}

.fontStyle{
  font-family: 'Combo', cursive;
  margin: 0;
}

.btnaddtocard,
.btnSeeCard{
  font-weight: 700 !important;
  background-color: #425E81 !important;
  color: #fff !important;
}

.btnaddtocard:hover,
.btnSeeCard:hover{
  background-color: #2b496e !important;
}

.btnPayCard{
  font-weight: 700 !important;
  background-color: #d70909  !important;
  color: #fff !important;
}

.btnPayCard:hover{
  background-color: #af0303  !important;
}

.tet hr,
.tet1 hr{
  width: 100%;
  margin: 8px 0;
}

hr {
  color: #afafaf !important;
  border: solid 0.5px !important;
}

.deletes:hover,
.delete:hover{
  cursor: pointer;
}


.addto{
  background-color: transparent;
  color: #fff;
  --color : #70a3c1;
  align-items: center;
  padding: 5px 18px 0;
}


.addto-child{
  background-color: #dc3545;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 6px 6px;
  border-radius: 5px;
  transition: 0.25s linear;
}

.addto-child:hover{
  background-color: #be2635;
}

.position{
  position: absolute;
  z-index: 800;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-101%);
  transition: 0.5s cubic-bezier(0.5, 2, 0.4, 0.6);
}


.por-box{
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}



@media only screen and (max-width: 1200px) {
  .collapse .d-flex {
    margin-left: 2.5rem
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    width: 100%;
  }

  .position {
    position: relative;
    transform: none;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 0 0 8px 8px;
  }

  .por-box:hover .por-flex{
    box-shadow: none;
  }

  .por-pro .row .por-flex {
    border-radius: 8px 8px 0 0;
  }

  .icon-cart1 {
    margin: 0 6px;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }
}