@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;1000&display=swap");

@import "colors";

@mixin heading {
    text-align: center;
    text-transform: capitalize;
    padding: 4rem 0 2.5rem 0;
    font-size: 3.5rem;
    border-bottom: $bgr-btn 2px solid;
    span {
        color: $yellow;
    }
}

@mixin change-guter($mg, $pd) {
    .row {
        margin: $mg;
    }
    .gn {
        padding: $pd;
    }
}

@mixin colum-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Nunito";
    list-style: none;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all 0.15s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 1.1rem;
    }
    &::-webkit-scrollbar-track {
        background: $bgr-remote;
    }
    &::-webkit-scrollbar-thumb {
        background: $yellow;
    }

    body {
        background: #111;
        overflow-x: hidden;
        color: $post;
        padding-left: 35rem;
    }

    .bgr-public {
        background: $bgr-btn;
    }

    .rocket {
        a {
            color: $yellow;
        }
        visibility: hidden;
        opacity: 0.5;
        position: fixed;
        font-size: 3rem;
        right: 2.5rem;
        bottom: 1.8rem;
        cursor: pointer;
        z-index: 1000;
        transition: all 0.4s linear;
        &:hover {
            opacity: 1 !important;
            animation: elf 0.5s;
            filter: drop-shadow(0 0 2px $yellow);
        }
    }

    .dark-light {
        position: fixed;
        top: 1.2rem;
        left: 1.2rem;
        z-index: 1000;
        font-size: 2.5rem;
        cursor: pointer;
        color: $yellow;

        &:hover {
            animation: elf 0.5s;
        }

        .bi-brightness-high-fill::before {
            content: "\F1D1" !important;
        }
    }

    .toggle {
        left: 0;
    }

    .img-box {
        position: fixed;
        z-index: 10000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 0 1.5rem;
        background: #1a1a1ae8;
        display: flex;
        visibility: hidden;
        .img-zoom {
            margin: auto;
            width: 60rem;
            .img-zoom_child {
                border-radius: 0.5rem;
            }
        }
    }

    section {
        min-height: 100vh;
    }

    .btn {
        padding: 0.7rem 3rem;
        color: inherit;
        cursor: pointer;
        margin-top: 1rem;
        font-size: 2rem;
        border-radius: 5rem;
        .yellow {
            color: $yellow;
        }
        &:hover {
            animation: elf 0.5s;
            background: $yellow !important;
            color: $white !important;
            .yellow {
                color: $white;
            }
        }
    }

    header {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100%;
        width: 35rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background: $bgr-remote;

        .user {
            padding-top: 5rem;
            &_img {
                cursor: pointer;
                width: 19rem;
                height: 19rem;
                border-radius: 50%;
                margin-bottom: 2.5rem;
                box-shadow: 0 0 10px 5px $yellow, 0 0 10px 5px $yellow;
            }

            &_name {
                font-size: 3.5rem;
                margin: 0;
                font-weight: 1000;
            }

            &_post {
                font-size: 2rem;
                font-weight: 800;
                margin-bottom: 0;
            }
        }

        .navbar {
            width: 100%;
            display: flex;
            ul {
                padding: 1rem 3rem;
                margin: auto;
                li {
                    margin: 1.5rem 0.5rem;
                    a {
                        display: block;
                        color: inherit;
                        padding: 1rem 9rem;
                        border-radius: 50rem;
                        font-size: 2rem;
                        font-weight: 700;

                        &:hover {
                            background: $yellow;
                            animation: elf 0.5s;
                        }
                    }
                }
            }
        }

        .navbar-left_bgyellow {
            background: $yellow !important;
        }
    }

    #mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #111;
        z-index: 99;
        visibility: hidden;
        opacity: 0.9;
    }

    .mask-visible {
        visibility: visible !important;
    }

    .menu {
        position: fixed;
        top: 1rem;
        right: 1rem;
        background: $bgr-btn;
        padding: 0.85rem 1.4rem;
        border-radius: 0.2rem;
        color: $post;
        cursor: pointer;
        font-size: 2.5rem;
        z-index: 1000;
        display: none;
        &:hover {
            color: $yellow;
        }
    }

    .home {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 15rem;
        a {
            color: inherit;
        }
        h3 {
            font-size: 2.5rem;
        }
        h1 {
            font-size: 5rem;
            span {
                color: $yellow;
            }
        }
        p {
            font-size: 2rem;
            padding: 1rem 0;
        }
    }

    .about {
        padding: 0 7rem;
        a {
            color: inherit;
        }
        .heading {
            @include heading;
        }
        .row-info {
            margin-top: 3rem;
            .info {
                @include colum-center();

                h3 {
                    margin: 0 0 2.5rem 0;
                    font-size: 2.3rem;
                }
                span {
                    color: $yellow;
                    font-size: 2rem;
                }
                i {
                    color: $yellow;
                }
            }
            .couter {
                text-align: center;

                @include change-guter(-2rem, 2rem);

                .box-in {
                    padding: 3rem 2rem;
                    span {
                        font-size: 3.5rem;
                        color: $yellow;
                    }
                    h3 {
                        font-size: 2rem;
                        padding: 0 1rem;
                    }
                }
            }
        }
    }

    .education {
        padding: 0 7rem;
        .heading {
            @include heading;
        }

        @include change-guter(-2.9rem, 2.9rem);

        .row-education {
            margin-top: 3rem;
            padding: 1rem 0;

            .education-box {
                position: relative;
                border-left: 2px solid $post;
                padding: 1.5rem 0 0 4rem;
                span {
                    font-size: 1.3rem;
                    padding: 0.3rem 2rem;
                    border-radius: 5rem;
                }
                h3 {
                    margin: 1.3rem 0;
                    font-size: 2rem;
                }
                p {
                    font-size: 1.3rem;
                }
                i {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 5.2rem;
                    height: 5.2rem;
                    font-size: 2.5rem;
                    padding: 1rem;
                    border-radius: 50%;
                    top: 0;
                    left: -2.75rem;
                    background: $yellow;
                }
            }
        }
    }

    .portfolio {
        padding: 0 7rem;
        .heading {
            @include heading;
        }

        @include change-guter(-2rem, 2rem);

        .row-portfolio {
            padding-top: 4rem;
        }

        .box-img {
            overflow: hidden;
            border-radius: 1rem;
            img {
                width: 100%;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }

    .contact {
        padding: 0 7rem;
        .heading {
            @include heading;
        }

        .row-contact {
            padding-top: 7rem;
        }

        .contact-info {
            @include colum-center();
            

            font-size: 1.8rem;
            h3 {
                color: $yellow;
                font-size: 3.5rem;
                margin-bottom: 2.5rem;
            }

            .info-me:nth-of-type(1){
                text-transform: lowercase;
            }

            .info-me:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            svg {
                color: $yellow;
                min-width: 3rem;
            }

            ul {
                margin: 5rem 0 3rem 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
                padding-left: 0;

                li:nth-child(1){
                    --color: #800080;
                }
                li:nth-child(2){
                    --color: #385491;
                }
                li:nth-child(3){
                    --color: #a92f1f;
                }

                li {
                    position: relative;
                    display: grid;
                    place-items: center;
                    width: 6rem;
                    height: 6rem;

                    .base {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 0.3rem solid var(--color);
                        border-left: 0.3rem solid transparent;
                        animation: spin 8s linear infinite;
                        filter: drop-shadow(0 0 10px var(--color));
                    }

                    .base::after {
                        position: absolute;
                        content: "";
                        width: 1rem;
                        height: 1rem;
                        top: 5px;
                        left: 0;
                        border-radius: 50%;
                        background-color: var(--color);
                    }

                    .base,
                    .title,
                    .icon {
                        position: absolute;
                        transform: rotateX(60deg) rotateZ(-45deg);
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                    }

                    .title {
                        text-transform: uppercase;
                        font-size: 1rem;
                        font-weight: 700;
                        letter-spacing: 2px;
                        transform: rotateY(30deg) skewY(-22deg) translateY(0px);
                        opacity: 0;
                        pointer-events: none;
                    }

                    .icon {
                        display: grid;
                        place-items: center;
                        font-size: 3rem;
                        height: 100%;
                        pointer-events: none;
                    }

                    .base:hover {
                        filter: drop-shadow(0 0 10px var(--color));
                        animation-play-state: paused;
                    }

                    .base:hover + .title + .icon {
                        transform: rotateY(30deg) skewY(-22deg) translateY(-5.5rem);
                        color: var(--color);
                        filter: drop-shadow(0 0 2px var(--color));
                        animation: wave 1s ease-in-out infinite;
                    }

                    .base:hover + .title {
                        color: var(--color) ;
                        transform: rotateY(30deg) skewY(-22deg) translateY(-3rem);
                        text-shadow: 0 0 1px var(--color);
                        transition-delay: .1s;
                        opacity: 1;
                        animation: wave 1s ease-in-out infinite;
                    }
                      
                }
            }

            @keyframes spin {
                0% {
                    transform: rotateX(60deg) rotateZ(0);
                }
                100% {
                    transform: rotateX(60deg) rotateZ(-360deg);
                }
            }

            @keyframes wave {
                100% {
                  margin-bottom: 0;
                }
                50% {
                  margin-bottom: 15px;
                }
            }
        }

        .contact-form {
            .form-control {
                padding: 1rem;
                color: inherit;
                border: none;
                font-size: 1.5rem;
                &:focus {
                    border: $post solid 0.5px;
                    box-shadow: none;
                }
            }

            ::placeholder {
                color: inherit;
                opacity: 0.55;
            }

            button {
                font-size: 1.5rem;
            }
        }
    }

    @media (max-width: 1250px) {
        .box-in h3 {
            padding: 0 !important;
        }
    }

    @media (max-width: 1200px) {
        html {
            font-size: 55%;
        }

        .home {
            padding: 0 7rem;
        }

        .box-in h3 {
            padding: 0 6rem !important;
        }

        .about .info {
            margin-bottom: 3rem;
        }
    }

    @media (max-width: 1100px) {
        .box-in h3 {
            padding: 0 3rem !important;
        }
    }

    @media (max-width: 991px) {
        header {
            left: -120%;
        }

        body {
            padding-left: 0;
        }

        .menu {
            display: block;
        }
    }

    @media (max-width: 470px) {
        .contact-info div {
            font-size: 1.3rem;
        }
    }

    @keyframes elf {
        25% {
            transform: scale(0.9, 1.1);
        }

        50% {
            transform: scale(1.1, 0.9);
        }

        75% {
            transform: scale(0.95, 1.05);
        }
    }
}
